html {
  box-sizing: border-box;
  font-family: monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-color: rgb(67, 80, 94);
}

main {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(5, 150px);
  gap: 1rem;
  align-content: center;
}

h1 {
  align-self: center;
  margin-left: calc(50% - 45px);
  grid-column-start: 1;
  grid-column-end: 5;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(61, 61, 145);
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.635);
}

img {
  width: 250px;
  border-radius: 5px;
  visibility: hidden;
}

p {
  color: white;
  font-size: large;
  padding: 5px;
  visibility: visible;
}

.visible {
  visibility: hidden;
}

.black {
  background-color: black;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  width: 150px;
  height: 150px;
}
